ul li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
.list-box {
    display: flex;
    flex-wrap: wrap;
}
.list {
    flex-grow: 1;
    min-width: 200px;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
}

.list li {
    overflow: hidden;
    line-height: 1.5;
    border-bottom: 1px dotted #ddd;
    color: #999;
}

.list li:hover {
    color: #000;
}

.list .resort {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}


.list .vocabulary {
    float: left;
}

.list .note {
    float: right;
    cursor: pointer;
}

.list .edit {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 3px;
    outline: none;
    text-indent: 3px;
    line-height: 24px;
    height: 24px;
    width: 100%;
}

.list li:hover .del {
    display: block;
}
.list .del {
    display: none;
    float: left;
    margin-left: 10px;
    color: #ccc;
    cursor: pointer;
}